@import '../../styles/variables.scss';

.Emissions {
    color: $theme-text;

    .Emission {
        color: $gray-light;
        margin-bottom: 20px;
    }

    .list-group {
        text-align: left;
    }

    .list-group-item {
        font-size: 11px;
        padding: 5px;
    }

    .mt {
        margin-top: 8px;
    }

    .nav-bar {
        display: inline-block;
        text-align: center;
        list-style-type: none;
        color: $gray-light;
        align-items: center;
        background: transparent;
    }
}