@import '../../styles/variables.scss';

.About {
    color: $theme-text;

    .Description {
        color: $gray-lighter;
    }

    .padding {
        padding: 0 100px;
    }

    .row:not(.Cards) {
        margin-bottom: 50px;
    }

    .Member {
        color: $gray-light;
        margin-bottom: 20px;
    }

    .Links {
        h1 {
            margin-bottom: 20px;
        }
        img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 5px;

            &.no-radius {
                border-radius: 0px;
            }
        }

        a {
            color: $gray-lighter;
        }
    }
}