@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Search {
    color: $gray-lighter;

    form {
        position: absolute;
        right: 40px;
    }

    .tab-content {
        margin-top: 10px;
        width: 100%;

        h2 {
            color: $gray-light1;
        }
    }

    .search-item {
        p {
            margin: 0;
            padding: 0;

            &.link {
                color: #429442;
            }

            &.description {
                color: $gray-lighter;
            }
        }

        a {
            font-size: 25px;
        }

        span.highlight {
            color: white;
            background-color: rgba($gray-lighter, 0.2);
        }

        width: 100%;
        padding-bottom: 20px;
        text-align: left;
        flex-direction: column;
    }

    .row {
        margin: 0;
    }

    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid $gray;

        a {
            color: $gray-light;
            font-size: 18px;
            transition: 0.2s all ease-in;
            @include alt-font;

            &:hover {
                border-color: $gray-light;
            }

            &.disabled {
                opacity: 0.3;
            }

            &.active {
                background-color: $theme-tertiary;
                color: $gray-dark;
                border-color: $gray-light;
            }
        }
    }
}