@import '../../styles/variables.scss';

.Emission {
    color: $theme-text;
    .Emission__Img {
        width: 50%;
    }


    .card {
        color: $theme-text;
        background-color: $theme-tertiary;
    }

    .card-text {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 4px;
    }

    .row {
        margin-bottom: 50px;
    }
}