@import '../../styles/variables.scss';

.Laws__Container {    
    table {
        color: $theme-text;

        tbody > tr {
            cursor: pointer;
        }
    }

    > .row {
        padding: 25px;
        background: rgba($theme-primary, 0.9);
        border-radius: 10px;
    }
}

.dropdown-menu {
    max-height: 50vh;
    overflow: scroll;
}