@import '../../styles/variables.scss';

.States {
    color: $theme-text;

    .State {
        color: $gray-light;
        margin-bottom: 20px;
    }

    .list-group {
        text-align: left;
    }

    .list-group-item {
        font-size: 11px;
        padding: 5px;
    }

    .mt {
        margin-top: 8px;
    }
}