@import '../../styles/variables.scss';

.ModelHeader {
    h1 {
        color: $theme-text;
    }

    .filters {
        padding: 0 100px;
    }
    
    .dropdown-toggle {
        margin-bottom: 10px;
        font-size: 11px;
    }

    .list-item {
        font-weight: 400;
        color: #212529;
        display: flex;
        font-size: 12px;
        padding: 3px;
        padding-left: 25px;
    }

    form.number {
        width: 210px;
        margin: 0 10px;

        .btn {
            font-size: 10px;
        }

        input {
            font-size: 10px;
        }
    }

    .dropdown-item {
        font-size: 12px;
    }

    border-bottom: 1px solid $gray;
    margin-bottom: 20px;
}