@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Visualizations {
    color: $gray-lighter;

    .label {
        text-anchor: middle;
        fill: white;
      }

    #tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:auto;
		padding:4px;
		color:white;
		opacity:0;
	}

    .state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}

    .tab-content {
        margin-top: 10px;
        width: 100%;

        h2 {
            color: $gray-light1;
        }
    }

    .row {
        margin: 0;
    }

    .nav-tabs {
        width: 100%;
        border-bottom: 1px solid $gray;

        a {
            color: $gray-light;
            font-size: 18px;
            transition: 0.2s all ease-in;
            @include alt-font;

            &:hover {
                border-color: $gray-light;
            }

            &.disabled {
                opacity: 0.3;
            }

            &.active {
                background-color: $theme-tertiary;
                color: $gray-dark;
                border-color: $gray-light;
            }
        }
    }
}