@import '../../styles/variables.scss';

.Background {
    position: fixed;
    height: 100%;
    width: 100%;
    background: url('../../static/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    z-index: -1;

    img {
        height: 50vw;
        padding-top: 15vh;
    }
}