@import '../../styles/variables.scss';

.Splash {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: $theme-text;
    background: url('../../static/bg-pattern.png'), linear-gradient(to left, $theme-secondary, $theme-tertiary);
    .header-content {
        max-width: 500px;
        margin-bottom: 100px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    @media (min-width: 992px) {
        height: 100vh;
        min-height: 775px;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
    }
}

.DataCards {
    padding-top: 150px;
    position: relative;
    color: $theme-text;

    .card {
        color: $theme-text;
        background-color: $theme-tertiary;
    }

    .search {
        margin-top: 30px;
        padding-bottom: 100px;

        .input {
            max-width: 400px;
        }
    }

    .card-title img {
        height: 50px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .card-title {
        margin-bottom: 20px;
    }

    .card-text {
        padding: 0 15px;
        margin-bottom: 20px;
    }
}