@import '../../styles/variables.scss';

.Law {
    // color: $theme-text;
    a:not(.link) {
        color: $theme-text;
        text-decoration: underline;

        &:visited,
        &:active,
        &:focus {
            color: $theme-text;
        }
    }

    h1 {
        color: $theme-text;
    }

    .Description {
        color: $gray-light;
    }

    .card.blue {
        color: $theme-text;
        background-color: $theme-tertiary;
    }

    .card-text {
        padding: 0 15px;
        margin-bottom: 20px;
    }

    .row {
        margin-bottom: 50px;
    }
}