@import '../../styles/variables.scss';

.App {
  text-align: center;

  .App__Content {
    min-height: 100vh;
  }
}

.Content__Container {
  position: relative;
  padding-top: 20vh;
  padding-bottom: 50px;

  .Cards {
    padding: 25px;
    background: rgba($theme-primary, 0.9);
    border-radius: 10px;
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
