@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.MainNav {
  // border-color: fade-out($gray-lighter, 0.95);
  background-color: transparent;
  transition: all 0.3s;
  @include heading-font;

  &.background {
    background-color: rgba($theme-primary, 0.95);
    transition: all 0.3s;
    @include heading-font;
  }

  .navbar-brand {
    color: $theme-text;
    transition: all 0.3s;
    @include heading-font;
    &:hover {
      color: darken($theme-text, 20%);
    }

    &:focus {
      color: $theme-text;
    }

    img {
        margin-right: 5px;
    }
  }

  .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: $gray-lighter;
    background-color: $theme-secondary;
  }

  .navbar-nav {
    > .nav-link {
      transition: all 0.3s;
      font-size: 13px;
      text-transform: uppercase;
      @include alt-font;
      &.active {
        color: $theme-tertiary !important;
      }
    }
    > .nav-link,
    > .nav-link:focus {
      color: $theme-text;
      &:hover {
        color: darken($theme-text, 30%);
      }
    }
  }

  @media (min-width: 992px) {
    //border-color: transparent;
    //background-color: transparent;
    // .navbar-brand {
    //   color: fade(white, 70%);
    //   &:hover,
    //   &:focus {
    //     color: white;
    //   }
    // }
    // .navbar-nav > .nav-link,
    // .navbar-nav > .nav-link:focus {
    //   color: fade-out(white, 0.3);
    //   &:hover {
    //     color: white;
    //   }
    // }
    // &.navbar-shrink {
    //   border-color: fade-out($gray-lighter, 0.9);
    //   background-color: white;
    //   .navbar-brand {
    //     color: $gray-lighter;
    //     &:hover,
    //     &:focus {
    //       color: $theme-primary;
    //     }
    //   }
    //   .navbar-nav > .nav-link,
    //   .navbar-nav > .nav-link:focus {
    //     color: $gray-lighter;
    //     &:hover {
    //       color: $theme-primary;
    //     }
    //   }
    // }
  }
}
