@mixin heading-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@mixin body-font {
    font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

@mixin alt-font {
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    letter-spacing: 2px;
    text-transform: uppercase;
}